<div class="page-accueil">
    <div class="section top">
        <h1>
            <typed type-speed="50"><code><</code>théophile nzungize/></typed>
        </h1>
        <h2 class="lead">Jeune étudiant/développeur web de la ville de Québec.</h2>
    </div>
    <div class="section competences" id="competences">
        <h3>Mes outils de travail</h3>
        <span class="competence" ng-repeat="competence in competences">{{competence.nom}}</span>
    </div>
    <div class="section projets" id="projets">
        <h3>Quelques projets</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="col-sm-6 projet" ng-repeat="projet in projets">{{projet.titre}}</div>
            </div>
        </div>

    </div>