/*Styles généraux */

body {
    font-family: "Source Code Pro", sans-serif;
}

.retour-accueil a {
    display: inline-block;
    color: white;
    padding: 2px 15px;
    background: #595959;
}


/*Styles de navigation */

nav {
    font-size: 2em;
    border-bottom: 1px solid #b5b5b5;
    background: black;
}

nav a {
    color: white;
}

nav a:hover {
    color: #bebebe;
}

nav i {
    margin: 0 2%;
}


/*###### Page d'accueil ####*/

.page-accueil h1 {
    font-size: 5em;
}

.top {
    border-bottom: 1px solid #b5b5b5;
}

.page-accueil h2 {
    font-size: 2em;
    margin-top: -20px;
}

.page-accueil h3 {
    font-size: 1.5em;
    margin: 5vh 0;
}

.page-accueil .section {
    margin: 10vh 0;
}


/*###Styles de la zone compétences ###*/

.competence {
    display: inline-block;
    background-color: black;
    padding: 20px;
    margin: 5px 10px 5px 0;
    color: #fff;
}

.competence:hover {
    background-color: grey;
}


/*###Styles de la zone projets ###*/

.projet {
    border: 1px solid black;
}