/*Styles généraux */

body {
    font-family: "Roboto Mono", sans-serif;
}

.retour-accueil a {
    display: inline-block;
    color: white;
    padding: 2px 15px;
    background: #595959;
}


/*Styles de navigation */

.navbar {
    font-size: 2em;
    border-bottom: 1px solid #b5b5b5;
    background: black;
    padding: 0 2%;
}

nav a {
    color: white;
    margin: 0 7%;
}

nav a:hover {
    color: #bebebe;
}

.dropdown {
    display: inline-block;
}


/*###### Page d'accueil ####*/

.page-accueil {
    margin: 12vh 0;
}

.page-accueil h1 {
    font-size: 4em;
    letter-spacing: -3px;
    font-weight: 400;
    margin-bottom: -1%;
}

.top {
    border-bottom: 1px solid #b5b5b5;
}

.page-accueil h2 {
    font-size: 1.5em;
    letter-spacing: -2px;
}

h3 {
    letter-spacing: -2px;
    margin-bottom: 20px;
}

h3::before {
    content: "> ";
}

.page-accueil .section {
    margin: 5vh 0;
}


/*À propos */

.a-propos {
    width: 90%;
}


/*###Styles de la zone compétences ###*/

.competence {
    background-color: black;
    list-style: none;
    padding: 15px;
    margin: 5px 10px 5px 0;
    color: #fff;
}

.competences ul {
    padding-left: 0;
}

.competence:hover {
    background-color: grey;
}


/*###Styles de la zone projets ###*/

.projet {
    margin: 1%;
    background-size: cover;
}

.titre-projet {
    display: inline-block;
    width: 100%;
    color: #fff;
    background-color: #000;
    padding: 5px;
}

.projets ul {
    margin-top: 5px;
    display: inline-block;
    padding: 0;
}

.technologie {
    display: inline-block;
    color: white;
    background-color: #000;
    padding: 3px;
    margin: 0 3px;
}


/*Typed cursor */

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*@medias*/

@media screen and (min-width: 1000px) {
    .dropdown {
        display: none;
    }
}